.headerContainer{
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/imagens/bg.png");
}

.headerContainer > img{
    width: 10%;
    border-radius: 200px;
}

.headerContainer > h3{
    font-family: Poppins;
    color: white;
    margin-bottom: 0;
}

.headerContainer > p{
    font-family: Poppins;
    color: white;
}

.horario{
    font-family: Poppins;
    background-color: #54CC0A;
    color: white;
    padding: 10px;
    border-radius: 10px;
}